# Core Django
Django>=4.2.0  
whitenoise[brotli]
# Django REST Framework
djangorestframework>=3.14.0  

# JWT Authentication
djangorestframework-simplejwt>=5.3.0  

# PostgreSQL Database Connector
psycopg2-binary>=2.9.9  

# Additional utilities (optional but recommended)
django-cors-headers>=4.3.0  # Enable CORS for frontend connections
python-dotenv>=1.0.0  # Environment variable management
python-decouple
Pillow
reportlab
arabic-reshaper
python-bidi
Babel
hijri_converter

